  <% @seats.each_with_index do |item, index| %>
    <tr>
      <td><%= Index index %></td>
      <td><%= item.num_of_row %></td>
      <td><%= item.num_of_collum %></td>
      <td><%= item.seat_type %></td>
      <td><%= item.cinemaroom_id %></td>
      <td><%= item.status %></td>
      <td>
       <%= link_to t("edit"), edit_admin_seat_path(item), remote: true, class:"btn btn-info" %>
       <%= link_to t("delete"), admin_seat_delete_path(item), remote: true, class:"btn btn-danger" %>
      </td>
    </tr>
<% end %>