<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t("dashboard") %>
  </li>
  <li class="breadcrumb-item active"><%= t ".seat" %></li>
</ol>
<div class="container">
  <div class="col-sm-4">
        <%= label_tag t "menu.cinemaroom" %>
        <%= select_tag "cinemaroom", options_for_select(@page_type),{include_blank: "Choose one", class:"form-control"} %>
  </div>
   <div class="col-sm-4">
        <%= label_tag "Seat type" %>
        <%= select_tag "Seat type", options_for_select(@seat_type),{include_blank: "Choose one", class:"form-control"} %>
  </div>
  <div class="col-sm-4">
        <%= label_tag t "status" %>
        <%= select_tag "status", options_for_select(([["active", "1"], ["Unactive", "0"]])),{include_blank: "Choose one", class:"form-control"} %>
  </div>
</div>
<div class="card mb-3">
  <div class="card-body">
    <div class="table-responsive">
      <div class="content-seat container" style="padding-top: 100px;"></div>
      <%= button_tag type: :button, class: "btn btn-primary", id:"seat_add" do %>
        <%= t("save_change")%>
      <% end %>
    </div>
  </div>
</div>


