<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t("dashboard") %>
  </li>
  <li class="breadcrumb-item active"><%= t ".user" %></li>
  <%= button_tag t("add"), class: "btn btn-primary btn-add btn-movies" %>
</ol>
<div class="card mb-3">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <%= render "headerTable"%>
        </tr>
        </thead>
        <tbody>
          <% @movies.each_with_index do |item, index| %>
          <tr>
            <td><%= Index index %></td>
            <td><%= item.name %></td>
            <td><%= item.year_produced %></td>
            <td><%= item.broadcasting_time %></td>
            <td><%= item.descreption %></td>
            <td><%= link_to item.trailer, item.trailer, target: "_blank" %></td>
            <td><%= image_tag item.image,  size: "100x50" %></td>
            <td><%= item.status %></td>
            <td><%= item.studio_id %></td>
            <td>
            <%= link_to t("edit"), edit_admin_movie_path(item), class:"btn btn-info" %>
            <%= link_to t("delete"), admin_movies_path(item), class:"btn btn-danger", method: :delete,data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>