<div id="img_page">
  <h1><%= t "movies_seat" %></h1>
  <div class="container">
    <div class="w3ls-reg">
      <div class="inputForm">
        <h2><%= t "lorem" %></h2>
        <div class="mr_agilemain">
          <div class="agileits-left">
            <%= label_tag t("name") %>
            <span>*</span>
            <%= text_field_tag "",@user.email, {class: "Username", style:"width:300px ;"}%>
          </div>
        </div>
        <%= button_tag t("search_seat"), :onclick => "takeData()" %>
      </div>
      <div>
      <ul class="seat_w3ls">
        <li class="smallBox greenBox"><%= t "selected_seat" %></li>
        <li class="smallBox redBox"><%= t "reserved_seat" %></li>
        <li class="smallBox emptyBox"><%= t "empty_seat" %></li>
      </ul>
      <div class="seatStructure txt-center" >
        <table id="seatsBlock" style="width: 50%;">
        <tbody>
          <tr>
          <% @flag = 1 %>
            <% while @flag <= @cinemaroom.sum_of_collum  do %>
              <td><%= @flag %></td>
              <% @flag += 1 %>
              <% end %>
          </tr>
          <% @seat.in_groups_of(@cinemaroom.sum_of_collum, false) do |row_tasks| %>
          <tr>
            <% row_tasks.each do |task| %>
              <td>  
              <% if task.status == true %>
                <%= check_box_tag "post",value = "0", checked = false, {class: "seats", numOfrow: task.num_of_row, numOfcol: task.num_of_collum, seats: task.id, schedule_id:@schedule, user: @user.id} %>
              <%else%>
                <%= check_box_tag "post", value = "0", {class: "redBox_input", checked:"checked", style:"backgroup-color:red;"} %>
              <% end %>
              </td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
        </table>
        <div class="screen">
          <h2 class="wthree"><%= t "screen" %></h2>
        </div>
        <%= button_tag t("confirm_selection"), class:"btn-sumit-book" %>
      </div>
      <div class="displayerBoxes txt-center" >
        <table class="Displaytable w3ls-table" >
          <tr>
            <th><%= t "name" %></th>
            <th><%= t "number_seat" %></th>
          </tr>
          <tr>
            <td>
              <textarea id="nameDisplay"></textarea>
            </td>
            <td>
              <textarea id="NumberDisplay"></textarea>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("input[type='checkbox']").change(function() {
    $(this).attr('value', '1');
  });


  $(".btn-sumit-book").click(function() {
     var dataArray = [];
    $('.seats').each(function(){
      var jsonArg = new Object();
      var seat = $(this).attr('seats');
      var schedule = $(this).attr('schedule_id');
      var user = $(this).attr('user');
      var status = $(this).attr('value');
      jsonArg.seat_id = seat;
      jsonArg.schedule_id = schedule;
      jsonArg.user_id = user;
      jsonArg.status = status;
      dataArray.push(jsonArg);
    });
      var data = JSON.stringify(dataArray);
    $.ajax({
      url: "/tickets",
      type: "POST",
      data: {obj:data},
      success: function(data) {
        document.getElementById("nameDisplay").value = $(".Username").val();
         $('.seats').each(function(){
          var status = $(this).attr('value');
          if(status == 1){
            document.getElementById("NumberDisplay").value = $(this).attr("numOfrow")+""+ $(this).attr("num_of_collum");
          }
         });
      }
    });
  });
</script>
