<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= label_tag yield(:text_head)%></h4>
      </div>
      <div class="modal-body">
      <%= form_for [:admin, @cinemaroom] do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :sum_of_row %>
        <%= f.number_field :sum_of_row, min: 1, max: 10, value: 1, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :sum_of_collum %>
        <%= f.number_field :sum_of_collum, min: 1, max: 10, value: 1, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :descreption %>
        <%= f.text_field :descreption, class: "form-control" %>
      </div>

      <%= f.label :status %>
      <div class="form-group">
        <%= label :status, t("action") %>
        <%= f.radio_button :status, "1",:checked => true %>
        <%= label :status, t("unaction") %>
        <%= f.radio_button :status, "0" %>
      </div>

      <div class="modal-footer">
          <%= f.submit yield(:button_text), class: "btn btn-primary" %>
          <%= link_to "Cancel", "#", class: "btn btn-default", data: {dismiss: "modal"} %>
      </div>
      <% end %>
      </div>
    </div>
  </div>
