<%= form_for [:admin, @cinemarooms] do |f| %>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :descreption %>
  <%= f.text_field :descreption ,class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :schedule_id %>
   <%= f.select :schedule_id, @list_schedule,
      {include_blank: "Choose one",selected: @cinemarooms.schedule_id},
      {class: "form-control"} %>
</div>

<%= f.label :status %>
<div class="form-group">
  <%= label :status, t("action") %>
  <%= f.radio_button :status, "1",:checked => true %>
  <%= label :status, t("unaction") %>
  <%= f.radio_button :status, "0" %>
</div>

<%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
