<% @cinemarooms.each_with_index do |item, index| %>
  <tr>
    <td class= "text-center" ><%= Index index %></td>
    <td class= "text-left" ><%= item.name %></td>
    <td class= "number" ><%= item.sum_of_row %></td>
    <td class= "number" ><%= item.sum_of_collum %></td>
    <td class= "text-left" ><%= item.descreption %></td>
    <td class="text-center" ><%= item.status %></td>
    <td>
      <%= link_to t("edit"), edit_admin_cinemaroom_path(item), remote: true, class:"btn btn-info" %>
    <%= link_to t("delete"), admin_cinemaroom_delete_path(item), remote: true, class:"btn btn-danger" %>
    </td>
  </tr>
<% end %>