<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t("dashboard") %>
  </li>
  <li class="breadcrumb-item active"><%= t ".cinemaroom" %></li>
   <%= button_tag t("add"), class: "btn btn-primary btn-add btn-cinemarooms" %>
</ol>
<div class="card mb-3">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <%= render "headerTable" %>
        </thead>
        <tbody>
          <% @cinemarooms.each_with_index do |item, index| %>
          <tr>
            <td><%= Index index %></td>
            <td><%= item.name %></td>
            <td><%= item.descreption %></td>
            <td><%= item.status %></td>
            <td><%= item.schedule_id %></td>
            <td>
              <%= link_to t("edit"), edit_admin_cinemaroom_path(item), class:"btn btn-info" %>
              <%= link_to t("delete"), admin_cinemarooms_path(item), class:"btn btn-danger", method: :delete,data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


