<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t("dashboard") %>
  </li>
  <li class="breadcrumb-item active"><%= t "menu.schedule_time" %></li>
   <%= link_to t("add"), new_admin_schedule_time_path, class: "btn btn-primary" %>
</ol>
<div class="card mb-3">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <%= render "headerTable" %>
        </tr>
        </thead>
        <tbody>
          <% @schedule_times.each_with_index do |item, index| %>
          <tr>
            <td><%= Index index %></td>
            <td><%= item.start_time %></td>
            <td><%= item.end_time %></td>
            <td><%= item.status %></td>
            <td>
              <%= link_to t("edit"), edit_admin_schedule_time_path(item), class:"btn btn-info" %>
              <%= link_to t("delete"), admin_movietypes_path(item), class:"btn btn-danger", method: :delete,data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


