<div class="header">
  <div class="header-top">
    <div class="wrap">
      <div class="banner-no">
        <%= link_to image_tag("banner-no.png", alt: ""), "" %>
      </div>
      <div class="nav-wrap">
        <ul class="group" id="example-one">
          <li class="current_page_item"><%= link_to t("home"), root_path %></li>
          <li><%= link_to t("event"), event_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to t("logout"), destroy_user_session_path, :method => "delete" %></li>
          <% else %>
            <li><%= link_to t("login"), new_user_session_path %></li>
          <% end %>
          <li class="language_li">
              <%= link_to locale:"en" do %>
                <%= image_tag "united-kingdom.png", class: "language_flag_right" %>
              <% end %>
              <p style="margin-top: 5px; color: white;">|</p>
              <%= link_to locale:"vi" do %>
                <%= image_tag "vietnam.png", class: "language_flag_left" %>
              <% end %>
            <p>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="block">
    <div class="wrap">
      <div class="h-logo">
        <%= link_to "#" do %>
          <%= link_to image_tag("logo.png", alt: ""), "" %>
        <% end %>
      </div>
      <div id="reservation-form">
        <fieldset>
          <div class="field">
            <%= label_tag t "find_movie" %>
            <%= form_tag searchs_path, :method => "get"  do %>
              <%= text_field_tag :search, params[:search]%>
              <%= submit_tag "Search", :name => nil %>
            <% end %>
          </div>
        </fieldset>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
