<div class="header">
  <div class="header-top">
    <div class="wrap">
      <div class="banner-no">
        <%= link_to image_tag("banner-no.png", alt: ""), "" %>
      </div>
      <div class="nav-wrap">
        <ul class="group" id="example-one">
          <li class="current_page_item"><%= link_to t("home"), root_path %></li>
          <li><%= link_to t("event"), event_path %></li>
          <li><%= link_to t("contact"), contact_path %></li>
          <li>
            <button onclick="document.getElementById('id01').style.display='block'">Login</button>
          </li>
          <li>
              <%= link_to destroy_user_session_path, {method: :delete, class: "nav-link"} do %>
                <i class="fa fa-fw fa-sign-out"></i><%= t "logout" %>
              <% end %>
            </li>
          <li><%= link_to t("english"), locale:"en" %></li>
          <li><%= link_to t("vietnam"), locale:"vi" %></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="block">
    <div class="wrap">
      <div class="h-logo">
        <%= link_to "#" do %>
          <%= link_to image_tag("logo.png", alt: ""), "" %>
        <% end %>
      </div>
      <div id="reservation-form">
        <fieldset>
          <div class="field">
            <%= label_tag t "find_movie" %>
            <%= form_tag searchs_path, :method => "get"  do %>
              <%= text_field_tag :search, params[:search]%>
              <%= submit_tag "Search", :name => nil  %>
            <% end %>
          </div>
        </fieldset>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div id="id01" class="modal1">
  <%= render "homes/modal"%>
</div>
