<div class="header">
  <div class="header-top">
    <div class="wrap">
      <div class="banner-no">
        <%= link_to image_tag("banner-no.png", alt: ""), "" %>
      </div>
      <div class="nav-wrap">
        <ul class="group" id="example-one">
          <li class="current_page_item"><%= link_to t("home"), root_path %></li>
          <li><%= link_to t("event"), event_path %></li>
          <li><%= link_to t("contact"), contact_path %></li>
          <li><%= button_tag t("login"), :onclick => "document.getElementById('id01').style.display='block'" %></li>
          <li><%= link_to t("english"), locale:"en" %></li>
          <li><%= link_to t("vietnam"), locale:"vi" %></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="block">
    <div class="wrap">
      <div class="h-logo">
        <%= link_to "#" do %>
          <%= link_to image_tag("logo.png", alt: ""), "" %>
        <% end %>
      </div>
      <div id="reservation-form">
        <fieldset>
          <div class="field">
            <%= label_tag t "find_movie" %>
            <%= form_tag searchs_path, :method => "get"  do %>
              <%= text_field_tag :search, params[:search]%>
              <%= submit_tag "Search", :name => nil  %>
            <% end %>
          </div>
        </fieldset>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" 
class="close" title="Close Modal">&times;</span><!-- Modal Content -->
  <form class="modal-content animate" action="/action_page.php">
    <div class="imgcontainer">
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>
