<div class="listview_1_of_3 images_1_of_3">
  <h3><%= t "movies_new"%></h3>
  <% @movies.each do |movie| %>
    <div class="content-left">
      <div class="listimg listimg_1_of_2">
        <%= link_to image_tag("#{movie.image}", alt: ""), home_path(movie) %>
      </div>
      <div class="text list_1_of_2">
        <div class="extra-wrap">
          <h1 class= "data">
            <%= link_to home_path(movie) do %>
              <strong><%= movie.name %></strong>
            <% end %>
          </h1>
          <%= movie.year_produced.strftime("%d/%m/%Y") %>
          <br>
          <p class="text-top descreption" style="text-align: justify;"><%= movie.descreption %></p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  <% end %>
</div>
<script>
  $(function(){
      $.fn.limit = function($n){
          this.each(function(){
              var allText   = $(this).html();
              var tLength   = $(this).html().length;
              var startText = allText.slice(0,$n);
              if(tLength >= $n){
                  $(this).html(startText+'...');
              }else {
                  $(this).html(startText);
              };
          });
          
          return this;
      }
      $('.descreption').limit(80);
  });
</script>
