<div class="listview_1_of_3 images_1_of_3">
  <h3><%= t "movies_new"%></h3>
  <% @movies.each do |movie| %>
    <div class="content-left">
      <div class="listimg listimg_1_of_2">
        <%= link_to image_tag("#{movie.image}", alt: ""), home_path(movie) %>
      </div>
      <div class="text list_1_of_2">
        <div class="extra-wrap">
          <h1 class= "data">
            <%= link_to home_path(movie) do %>
              <strong><%= movie.name %></strong>
            <% end %>
          </h1>
          <%= movie.year_produced.strftime("%d/%m/%Y") %>
          <br>
          <span class="text-top"><%= movie.descreption %></span>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  <% end %>
</div>
