  <div class="content">
  <div class="wrap">
    <div class="content-top">
      <div class="section group">
        <div class="about span_1_of_2">
          <h3><%= t "last_movie" %></h3>
          <div class="about-top">
            <div class="grid images_3_of_2">
              <%= link_to image_tag("#{@movie.image}", alt: "", class: "col-img") %>
            </div>
            <div class="desc span_3_of_2">
              <h4><%= @movie.name %></h4>
              <p><%= t "produce_year" %><%= @movie.year_produced.strftime("%d/%m/%Y") %></p>
              <% @movie_type.each do |item| %>
                <p><%= t "movie_type" %> <%= item.movietype.name %></p>
              <% end %>
              <p>
                <%= t "broadcasing_time" %><%= @movie.broadcasting_time %>
                <%= t "minute" %>
              </p>
              <p><%= @movie.descreption %></p>
              <%= link_to t("watch"), "#{@movie.trailer}", class: "watch_but" %>
              <%= button_tag t("booking-ticket"), :onclick => "document.getElementById('id02').style.display='block'", class: "booking-ticket" %>
            </div>
            <div class="clear"></div>
            <div class="type-with-movie">
              <h3><%= t "type_with_movie" %></h3>
              <div class="type-with-movie-div">
                <% @movie_lq.each do |movielq| %>
                  <div>
                    <%= link_to image_tag("#{movielq.movie.image}", alt: "", class: "type-with-movie-image"), home_path(movielq) %>
                    <p class="type-with-movie-p"><%= movielq.movie.name %></p>
                    <div class="clear"></div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="rightsidebar span_3_of_1">
          <h3><%= t "most_premieres" %></h3>
          <% @movie_top3.each do |movie| %>
            <div class="small_box premier">
              <%= link_to image_tag("#{movie.image}", alt: "", class: "col-top3-image"), home_path(movie) %>
              <div class="clear"></div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div id="id02" class="modal">
  <span onclick="document.getElementById('id02').style.display='none'" 
    class="close" title="Close Modal">&times;</span>
  <%= render "homes/schedule"%>
</div>
