<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to t("dashboard") %>
  </li>
  <li class="breadcrumb-item active"><%= t ".shedule" %></li>
   <%= link_to t("add"), new_admin_studio_path, remote: true, class: "add-new-studio" %>
   <%# render "admin/studios/new.js.erb" %>
</ol>
<div class="card mb-3">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <%= render "headerTable" %>
        </thead>
        <tbody>
          <%= render "index" %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="product-modal" class="modal fade" role= "dialog"></div>


