<div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <h3><%= t "delete" %></h3>
  </div>
  <div class="modal-body">
  <ul class="errors"></ul>
  <%= t "sure_delete" %><b><%= @user_d.email %></b>?
  </div>
  <div class="modal-footer">
    <%= link_to t("yes_delete"), admin_user_path(@user_d), method: :delete, remote: true, class: "btn btn-danger" %>
    <%= link_to t("no_delete"), "#", class: "btn btn-default", data: { dismiss: "modal" } %>
  </div>
  </div>
</div>