<div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <h3><%= t "update" %></h3>
  </div>
  <div class="modal-body">
  <ul class="errors"></ul>
     <%= t "update" %> <b><%= @user.email %></b>?
  </div>
  <div class="modal-body">
     <%= form_for [:admin, @user], remote: true do |f| %>
      <%= f.label :role %>
      <div class="form-group">
        <%= label :role, t("admin") %>
        <%= f.radio_button :role, "1",:checked => true %>
        <%= label :role, t("not_admin") %>
        <%= f.radio_button :role, "0" %>
      </div>

      <div class="modal-footer">
          <%= f.submit "Update", class: "btn btn-primary" %>
          <%= link_to "Cancel", "#", class: "btn btn-default", data: {dismiss: "modal"} %>
      </div>
      <% end %>
  </div>
  </div>
</div>